/* flexbox */

#container {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: aqua;
  display: flex;
  flex: wrap;
  flex-direction: row-reverse;
  justify-content: ;
  align-items: flex-start;
}

.div {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: rgb(168, 33, 33);
  border: 4px solid blue;
}

.item {
  width: 400px;
  height: 500px;
  background-color: brown;
  overflow: scroll;
}
