/* comments color background border margin padding */

.div {
  width: 600px;
  height: 300px;
  color: bisque;
  background-color: blue;
  background-image: url("../nature.jpeg");
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;

  /* border: width style color */
  border-top: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px 5px;
  /* margin qisqartmalar
 margin: top right bottom left
 margin: 10px 5px 10px 5px;
 margin: top & bottom , right & left;
 margin: 10px 5px;
 margin: top , right & left , bottom
 margin: 10px 5px 15px*/
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
  /* padding qisqartmalar
 paddind: top right bottom left
 padding: 10px 5px 10px 5px;
 paddind: top & bottom , right & left;
 paddind: 10px 5px;
 paddind: top , right & left , bottom
 paddind: 10px 5px 15px*/
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  /* outline
  outline-offset: 5px;
  outline-color: blue;
  outline-style: groove;
  outline-width: 3px; */
  outline: 3px red solid;
  outline-offset: 5px;
  /* text */
  text-align: auto;
  text-decoration: dotted;
  text-transform: lowercase;
  letter-spacing: 2px;
  /* text-shadow: horizontal vertical blur color; */
  /* text-shadow: 3px 3px 4px gray;*/
  /* Font */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
}
