a {
  color: aquamarine;
  font-size: 32px;
  width: 100%;
  height: 200px;
  display: block;
  background-color: black;
}

a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  color: black;
  top: 5px;
}
.ol {
  list-style-type: lower-alpha;
  list-style-position: inside;
}
