body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
  overflow: hidden;
  border-radius: 10px;
}

table thead,
tbody td,
th {
  border: 1px solid #e1e6e6;
  text-align: left;
  padding: 10x;
}
thead tr th {
  background-color: #43a3ec;
  color: aliceblue;
  padding: 8px;
}
table tr:nth-child(odd) {
  background-color: rgb(240, 239, 237);
}
tr:hover td {
  background-color: bisque;
}
table thead tr th:hover {
  background-color: rgb(71, 67, 62);
}
ol {
  list-style: none;
  padding: 10px;
  line-height: 30px;
}
ol li:hover {
  background-color: azure;
}
input {
  border: 1px solid cornflowerblue;
  border-radius: 4px;
}
input:hover {
  outline: 1px solid rgb(61, 61, 235);
}
button {
  border: 1px solid cornflowerblue;
  border-radius: 4px;
  background-color: #43a3ec;
  color: aliceblue;
}
button:hover {
  outline: 2px solid blue;
}
a {
  color: #43a3ec;
}

a:hover {
  color: blue;
}
span {
  padding: 8pxs;
}
