table {
  width: 100%;
  border-collapse: collapse;
}

table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: aqua;
  border: 1px solid;
  text-align: left;
  padding: 8px;
  color: white;
}
table tbody td {
  border: 1px solid white;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: rgb(132, 82, 22);
}
table tr:hover {
  background-color: blanchedalmond;
}
