body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_box {
  max-width: 1300px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.box {
  position: relative;
  margin: 10px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.box img {
  width: 400px;
  height: 200px;
}

.box_text {
  padding: 20px 10px;
}

button {
  position: absolute;
  margin: 10px;
  padding: 5px;
  right: 10px;
  bottom: 10px;
  color: white;
  background-color: #43a3ec;
  border-radius: 5px;
  border: none;
}
